.category {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 300px;
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    .category-card {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
        width: 200px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        div > span {
            margin-left: 10px;
        }
    }
    .category-card-selected {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
        width: 200px;
        border-radius: 10px;
        background-color: aquamarine;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        div > span {
            margin-left: 10px;
        }
    }
}

@media (max-width: 900px) {
    .category{
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 20px;
        flex-wrap: wrap;
    }
  }